* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: cornsilk;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  padding: 20px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  list-style-type: none;
  padding: 10px;
  font-size: large;
  font-weight: 700;
}

h2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: aqua;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: xx-large;
}

.About {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.aboutme {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-top: 150px;
  font-size: xx-large;
  padding-left: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 20px;
}

#message {
  padding: 20px;
}

.button {
  padding: 10px;
  margin-top: 20px;
}

form .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
